.alert alert-danger {
    /* margin-left: 3 !important;
    margin-bottom: 1.5 !important;
    margin-top: 1.5 !important;
    padding-left: 3 !important;
    text */
}

/* .progress{
    height: ;
} */
.container {
    font-family: 'Dancing Script', cursive;

}